@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&family=Mitr&family=Open+Sans&family=Poppins:ital,wght@0,300;1,200&family=Roboto&family=Roboto+Flex:opsz@8..144&family=Work+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.main-container{
    width: 100%;
    height: 100vh;
    background: url(/img/background.png);
    background-position: center;
    background-repeat:no-repeat ;
    background-size: cover;
    margin-bottom: 100px;
}
#newsFirst{
    width: 80%;
    margin:auto;
    height: 100%;
}
.banner-container{
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    height: 70px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list{
    display: flex;
    align-items: center;
}
/* dropdown styling */
.dropbtn{
    background: none;
    color: black;
    padding: 16px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}
.dropdown {
    position: relative;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #ff0000;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #fff ;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    transition: all ease-out 300ms;
}

.dropdown-content a:hover {
    background: #000000;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown:hover .dropbtn {
    color: #e53935;
}
.no-dropdown a{
    text-decoration: none;
    font-size: 16px;
    color: #000;
    padding: 16px;
    text-transform: uppercase;
}
.no-dropdown a:hover {
    color:#e53935;
}
/* search-bar */
.search .fa-bars {
    font-size: 25px;
    padding: 0 16px;
    border-left: 1px solid gray;
    cursor: pointer;
}
.search .fa-magnifying-glass{
    padding-right: 16px;
    cursor: pointer;
}
.flash-news{
    height: 50px;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color:#fff;
}
.red-banner{
    height: 90%;  
}
.red-banner h2{
    background-color: #ff0000;
    font-size: 14px;
    padding: 0 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
}
.last-minute p {
    padding-left: 70px;
}
/* photo newa */
.photo-news{
    padding-top: 60px;
    width: 100%;
    height: 560px;
    display: flex;
    align-items: center;
}
.left-side{
    width: 43%;
    height: 100%;
    padding-right: 10px;
}
.first-div{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;

}
.first-div img, .second-div img, .third-div img, .fourth-div img, .fifth-div img{
    height: 100%;
    width: 100%;
    transition: all linear 800ms;
}
.first-div:hover img, .second-div:hover img, .third-div:hover img, .fourth-div:hover img, .fifth-div:hover img{
    min-height: 100%;
    min-width: 100%;
    transform: scale(1.1);
}
.right-side {
    width: 57%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
}
/* absolute */
.absolute-one{
    position: absolute;
    bottom: 30px;
    padding-left:15px;
    line-height: 24px;
    z-index:2;
}
.absolute-one .small-red-div {
    width: 71px;
    height: 26px;
    background-color: #e53935;
    color: #fff;
    font-size: 14px;
    text-transform:uppercase ;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 16px;

}
.date-author{
    display: flex;
    margin-bottom: 16px;
    color: #fff;
}
.date-author .author{
    font-size: 16px;
    font-family:'Times New Roman', Times, serif;
}
.date-author .date{
    font-size: 16px;
    padding-left: 16px;
}
.absolute-one .title{
    font-size:24px;
    color: #fff;
}
.second-div, .third-div, .fourth-div, .fifth-div {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.first-div::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000068;
    cursor: pointer;}
.second-div::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000068;
    cursor: pointer;}
.third-div::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000068;
    cursor: pointer;}
.fourth-div::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000068;
    cursor: pointer;}
.fifth-div::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000068;
    cursor: pointer;}


.absolute-rest{
    position: absolute;
    bottom: 30px;
    padding-left: 15px;
    color: #fff;
}
.absolute-rest .small-red-div{
    width: 71px;
    height: 26px;
    background-color: #e53935;
    color: #fff;
    font-size: 14px;
    text-transform:uppercase ;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.absolute-rest .title{
    font-size: 20px;
}